.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .d-form{
  display:flex;
  align-items: center;
} */
.error{
  color: red;
}

.form-container {
  width: 50%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-chkbox{
  margin-right: 430px;
  font-size: 12px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.form-column {
  flex: 1;
  margin-right: 10px;
}

.user-box {
  margin-bottom: 15px;
}

.add-more-button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.del-btn{
  width: 70px;
  height: 20px;
background-color: rgb(54, 51, 51);
color: white;
cursor: pointer;
}

.add-btn{
  width: 70px;
  height: 20px;
background-color: rgb(54, 51, 51);
color: white;
cursor: pointer;
margin-left: 550px;
}
.btn-submit{
  width: 150px;
  height: 50px;
background-color: rgb(54, 51, 51);
color: white;
cursor: pointer;
}

.btn{
  cursor: pointer;
  background-color: blue;
  color: white;
  width: 50px;
  border: none;
  padding: 3px;
  margin: 3px;
  border-radius: 50%

}
.btn:hover{
  cursor: pointer;
  background-color: rgb(89, 89, 184);
  color: white;
  
}
.lists{
  background-color: #ccc;
  color: whitesmoke;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
